* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    height: 100vh;
    background-color: #f0f4f3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;

}
.container {
    background-color: white;
    height: 80%;
    width: 75%;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .25);
    display: flex;
}
.left-side {
    background-color: #3BB397;
    flex: 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}
.left-side-content {
    width: 70%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.left-side-title {
    font-weight: 700;
    font-size: 30px;
}
.left-side-p {
    font-size: 14px;
    line-height: 1.5;
}
.left-side-button {
    padding: 10px 60px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}
.right-side {
    flex: 0 60%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side-content {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}
.right-side-content h1 {
    color: #3BB397;
    font-size: 33px;
}
.right-side-content p {
    color: #a2a2a2;
}

.right-side-content .links .link {
    text-decoration: none;
} 
.right-side-content .links .link {
    text-decoration: none;
    margin: 25px;
    color: black;
} 
.form {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.form-group {
    position: relative;

}
.input {
    width: 250px;
    background-color: #F4F8F7;
    font-size: 18px;
    font-weight: 300;
    padding: 14px 0;
    padding-left: 27px;
    border-radius: 12px;

}
input::placeholder {
    color: #A2A2A2;
}
.svg-form {
    height: 13px;
    width: 13px;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translate(0,-50%);
}
.btn-form {
    width: 180px;
    padding: 10px 40px;
    background-color: #3BB397;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}








